html,
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: url("../bg/bg.png") 0 0 repeat;
}

.welcome-text {
    margin-top: 150px;
}